body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*========= Header ========*/

.header {
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation {
  background: #ffffff;
  align-items: center;
  display: flex;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 149px;
}


.title-two-part {
  color: #2E2F42;
}

.header-top {
  display: none;
}

.link {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  gap: 40px;
  padding: 24px 0;
}

.link:active {
  color: #404bbf;
}
.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}

.current {
  color: #404bbf;
   position: relative;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .current::after {
   background-color: #404bbf;
   width: 48px;
   height: 4px;
   border-radius: 2px;
   content: "";
   position: absolute;
   display: block;
   left: 0;
   bottom: -1px;
 }

.contacts-list {
  margin-left: auto;
}

.contact-connection {
  color:  #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  align-items: center;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-connection:hover,
:focus {
    color: #404bbf;
}

.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.open-button {
  fill: #2f2f37;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.mob-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #fff;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  padding: 0;
  right: 24px;
  top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.close-button {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 72px;
  margin-bottom: 168px;
}

.mob-link {
  color: #2e2f42;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-link:hover {
  color: #404bbf;
}

.mob-link:focus {
  color: #404bbf;
}

.mob-contact {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mob-contact-link {
  color: #434455;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-contact-link:hover {
  color: #404bbf;
}

.mob-contact-link:focus {
  color: #404bbf;
}

.mob-social-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 40px;
  margin-top: 48px;
}

.mob-social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-social {
  fill: #f4f4fd;
}

/* Section 1 */

.main-content-section {
  max-width: 1440px;
   background: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/Dark-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 72px;
    padding-bottom: 72px;
    margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .main-page {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/Dark-bg-mob-2x.jpg);
    }
}

.content-section {
  max-width: 200px;
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
}


.button-style {
  color: #fff;
  font-family: "Roboto", sans-serif;
  background: #4d5ae5;
  cursor: pointer;
  border: none;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-style:hover {
  background: #404bbf;
}

.button-style:focus {
  background-color: #404bbf;
}


/*======= Section 2 ======*/

.section-two {
  background: #fff;
  padding-top: 96px;
  padding-bottom: 96px;
}
.content-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.title-three-part {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.description-content-info {
  color: #434455;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
/*.content-title {
  color: #2e2f42;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content-info-top {
  width: calc((100% - 72px) / 4);
}*/

.title-three-part {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.description-content-info {
  color: #434455;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*.content-info {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}*/

/* Section 3 */
.our-team {
  background: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}
.main-content-team {
  color: #2e2f42;
    font-family: "Roboto";
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.main-content-team-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.main-content-team-pic {
  background: #fff;
  /* width: calc((100%-3 * 24px) / 4); */
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-person {
  padding: 32px 0;
}

.team-photo {
  justify-content: center;
  background: #ffffff;
}

.main-content-team-person {
color: #2e2f42;
font-family: "Roboto";
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 8px;
}

.main-content-team-person-job {
  color: #434455;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.socials {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  align-items: center;
}

/*.socials-item {
  width: 40px;
  height: 40px;
}*/

.socials-link {
  width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon {
  fill: #f4f4fd;
}
.socials-link:hover {
    background-color: #404bbf;
}
.socials-link:focus {
    background-color: #404bbf;
}

/*======= Section 4 ======*/
.portfolio {
  background: #fff;
  padding-top: 96px;
  padding-bottom: 96px;
}

.main-content-portfolio{
 color: #2e2f42;
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 48px;
}
.thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-pic {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-pic:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-pic:hover .overlay {
  transform: translateY(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  background-color: #4d5ae5;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
}

.main-content-portfolio-pic {
  background: #ffffff;
}
.portfolio-name {
  padding: 32px 16px;
    border: 1px solid #e7e9fc;
    background: #fff;
    border-top: none;
}

.main-content-portfolio-work {
  color: #2e2f42;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.main-content-portfolio-work-description {
  color: #434455;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}


/*.thumb .overlay {
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px 32px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  background: var(--IRIS, #4d5ae5);
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}*/

.our-portfolio-item:hover .overlay {
  transform: translateY(0);
  cursor: pointer;
}


/* Footer */
.footer-text {
  background-color: #2e2f42;
  padding: 100px 0;
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.footer-logo-container {
  margin-right: 120px;
}
.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
}

.footer-text-end {
  color: #f4f4fd;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 18px;
}

.title-two-part-fotter {
  color: #f4f4fd;
  font-family: "Roboto";
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}
.socials-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
  text-align: center;
}

.footer-socials {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  align-items: center;
  justify-content: center;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
:focus {
  background-color: #31d0aa;
}

.footer-socials-icon {
  fill: #f4f4fd;
}

.container-subscribe {
  margin-left: 80px;
}

.text-subscribe {
  margin-bottom: 16px;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.form {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.form-input {
  width: 264px;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.form-input::placeholder {
  color: #ffffff;
}
.button-input {
  color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    cursor: pointer;
    min-width: 165px;
    height: 40px;
    border: none;
}

.button-input:focus,
.button-input:hover {
  background: #404BBF;
}

.icon-plane {
  margin-left: 16px; }
.backdrop {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
} 
  /* ======== OVERLAY ========== */

 

.modal {
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
} */

.modal-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  padding: 0;
  right: 24px;
  top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
    max-width: 360px;
}

.modal-field {
    margin-bottom: 8px;
}
.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.cont-input-icon {
  position: relative;
  margin-bottom: 8px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus+.modal-icon,
.modal-input:focus {
    border-color: #4D5AE5;
    fill: #4D5AE5;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.last-one-div {
    margin-bottom: 16px;
}
.textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
  border-color: #4D5AE5;
}

.modal-checkbox {
  margin-bottom: 24px;
}
.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.check-text a {
  color: #4d5ae5;
  text-decoration: underline;
}

.user-privacy-icon {
  border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    margin-right: 12px;
    fill: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-input:checked+.check-text>.user-privacy-icon {
  border: none;
  fill: #F4F4FD;
  background-color: #404BBF;
  border-color: #404BBF;
}
.linky-policy {
  color: #4d5ae5;
  margin-left: 4px;
}


.modal-check-button {
  cursor: pointer;
    border-radius: 4px;
    border: none;
    background: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    display: block;
    padding: 16px 32px;
    align-items: center;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 0 auto;
    margin-top: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* ======== Media ========== */

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
  }

}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .navigation {
        display: flex;
        align-items: center;
        margin-right: auto;
    }

    .menu-open-btn {
        display: none;
    }

    .menu-list {
        display: flex;
        gap: 40px;
    }

    .menu-link {
        color: #2e2f42;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .current {
        position: relative;
        color: #404bbf;
    }

    .current::after {
        content: "";
        position: absolute;
        width: 48px;
        height: 4px;
        border-radius: 2px;
        background: #404bbf;
        left: 0;
        bottom: -12px;
    }

    .contact-menu {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contact-link {
        color: #434455;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-style: normal;
        /* padding: 24px 0; */
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact-link:hover {
        color: #404bbf;
    }

    .contact-link:focus {
        color: #404bbf;
    }

    .main-page {
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/Dark-bg-tab.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .main-page {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/Dark-bg-tab-2x.jpg);
        }
    }

    .main-page-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
        margin-bottom: 36px;
        text-transform: none;
    }

    .page-skils-list {
        gap: 72px 24px;
    }

    .page-skils-item {
        width: calc((100% - 24px) / 2);
    }

    .skils-item-title {
        text-align: left;
    }

    .page-team-list {
        gap: 64px 24px;
    }

    .portfolio-list {
        gap: 72px 24px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }

    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        padding-left: 108px;
    }

    .footer-title-logo {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .footer-soc-title {
        text-align: left;
    }

    .form-title {
        text-align: left;
    }

    .modal {
        width: 408px;
        min-height: 584px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .title {
        padding: 24px 0;
    }

    .current::after {
        bottom: -1px;
    }

    .contact-menu {
        flex-direction: row;
        gap: 40px;
    }

    .main-page {
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero-bg.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .main-page {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/hero-bg-2x.jpg);
        }
    }

    .main-page-title {
        margin-bottom: 48px;
    }

    .page-skils-container {
        width: 264px;
        height: 112px;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        background: #f4f4fd;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }

    .page-skils {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .page-skils-list {
        gap: 24px;
    }

    .page-skils-item {
        width: calc((100% - 3 * 24px) / 4);
    }

    .skils-item-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .skils-item-descr {
        font-weight: 400;
    }

    .page-team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-list {
        gap: 48px 24px;
    }

    .portfolio-item {
        width: calc((100% - 48px) / 3);
    }

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-container {
        flex-wrap: nowrap;
        row-gap: 0;
        column-gap: 0;
    }

    .footer-link-deskr {
        margin-right: 120px;
    }

    .footer-form-container {
        margin-left: 80px;
    }

    .footer-form {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}